body {
    width: 1280px;
    height: auto;
    margin: 0 auto;
}
#wrapper {
    width: 100%;
    height: 100%;
}
#header {
    width: 100%;
    height: 50px;
}
#body {
    width: 100%;
    min-height: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap-reverse;
}
#main {
    width: 1000px;
}